.btn-primary {
    background-color: #faa500;
    color: #fff;
    border-radius: 8px;
    padding: 10px 40px;
    transition: background-color .3s;
    &:hover {
        background-color: #df9401;
    }
}

a.btn-outline {
    border: 1px solid #FAA500;
    border-radius: 8px;
    padding: 12px 17px;
    transition: background-color .3s;
    &:hover {
        background-color: #FAA500;
    }
}

.btn-news {
    color: #FAA500;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    transition: color .3s;
    &:hover {
        color:#e09602;
    }
}