header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .topbar {
        background-color: #353535;
        height: 24px;
        p {
            color: #FFFFFF;
            line-height: 18px;
            font-size: 12px;
            font-weight: 400;
            text-align: center;
        }
    }
    
    .header-content {
        .logo {
            .menu-mobile {
                display: none;
            }
        }

        .container {
            align-items: center;
            display: flex;
            height: 88px;
            justify-content: space-between;
    
            .search {
                max-width: 791px;
                width: 100%;
                &-form {
                    display: flex;
                    position: relative;
    
                    .btn-primary {
                        position: absolute;
                        right: 0px;
                    }
                }
                input {
                    background: #EFEFEF;
                    border-radius: 10px 0 0 10px;
                    font-weight: 400;
                    font-size: 12px;
                    height: 40px;
                    margin-right: 13px;
                    margin-left: 15px;
                    max-width: 672px;
                    padding-left: 24px;
                    width: 100%;
                    &::placeholder {
                        color: #353535;
                    }
                }
                button {
                    color: #FFFFFF;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    margin-right: 10px;
                }
            }
    
            .header-info {
                div {
                    display: flex;
                    &:not(:last-child) {
                        margin-right: 39px;
                    }
                }
                svg {
                    fill: #353535;
                    margin-right: 8px;
                    transition: fill .3s;
                }
                a {
                    align-items: center;
                    display: flex;
                    &:hover {
                        svg {
                            fill: #FAA500;
                        }
                        span {
                            color: #FAA500;
                        }
                    }
    
                    span {
                        color: #353535;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        transition: color .3s;
                        white-space: nowrap;
                    }
                }
                
                .btn-outline {
                    &:hover {
                        svg {
                            fill: #fff;
                        }
                        span {
                            color: #fff;
                        }
                    }
                }
            }
        }
    
        .header-info {
            display: flex;
        }

        .header-info-mobile {
            display: none;
        }
    }

    .navigation {
        box-shadow: inset 0px 4px 6px rgb(0 0 0 / 8%);

        .container {
            align-items: center;
            display: flex;
            height: 48px;
            justify-content: space-between;
            ul {
                align-items: center;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                width: 100%;
                li {
                    margin: 0 15px;
                    width: 146px;
                    a {
                        align-items: center;
                        color: #353535;
                        display: flex;
                        font-weight: 400;
                        font-size: 14px;
                        justify-content: center;
                        line-height: 21px;
                        transition: color .3s;
                        &:hover {
                            color: #faa500;
                        }

                        svg {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    @include responsive(800px) {
        .header-content {
            .logo {
                align-items: center;
                display: flex;

                .menu-mobile {
                    display: block;
                    margin-right: 19px;
                }
            }

            .container {
                .search {
                    display: none;
                }
            }

            .header-info {
                display: none;
            }

            .header-info-mobile {
                display: flex;

                .search-icon {
                    margin-right: 35px;
                }
            }
        }

        .navigation {
            display: none;
        }
    }

    @include responsive(480px) {
        background-color: #fff;
        .container {
            .logo {
                img {
                    max-width: 110px;
                }
            }
        }
    }
}