/*=== full banner ===*/
.full-banner {
  margin-top: 146px;
  position: relative;

  .bannerFull-mobile {
    display: none;
  }

  a {
    img {
      width: 100%;
    }
  }

  .swiper-button-prev {
    left: 8%;
    background-image: url(../img/arrow-prev.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    &::after {
      display: none;
    }
  }

  .swiper-button-next {
    right: 8%;
    background-image: url(../img/arrow-next.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    &::after {
      display: none;
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 2.4rem;
  }

  .swiper-pagination-bullet {
    background: none;
    border: 2px solid #faa500;
    height: 16px;
    opacity: initial;
    width: 16px;
    &-active {
      background: #faa500;
    }
  }

  @include responsive(800px) {
    margin-top: 97px;
  }

  @include responsive(501px) {
    .bannerFull-desktop {
      display: none;
    }

    .bannerFull-mobile {
      display: block;
    }

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border: 1px solid #faa500;
    }

    .swiper-pagination {
      bottom: 16px;
    }
  }
}

/*=== rulers ===*/
.rulers {
  padding: 27px 15px 65px;

  &-bg {
    background-color: #fafafa;
  }

  h3 {
    color: #353535;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 22px;
    text-align: center;
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &-item {
    align-items: center;
    background-color: #efefef;
    border-radius: 4px;
    display: flex;
    padding: 14px 27px;
  }

  .icon {
    margin-right: 22px;
  }

  .info {
    p {
      color: #353535;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
    }
    span {
      color: #000000;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  /* Responsive */
  @include responsive(480px) {
    background-color: #fff;
    padding: 40px 15px 40px;

    &-item {
      justify-content: center;
      &:not(:last-child) {
        max-width: 378px;
      }
    }
    span {
      white-space: nowrap;
    }
  }
}

/*=== partner brands ===*/
.partner-brands {
  padding-bottom: 8rem;

  &-bg {
    background-color: #fafafa;
  }
  h2 {
    color: #353535;
    font-size: 32px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 17px;
    text-align: center;
  }

  .brands-item {
    img {
      margin: 0 auto;
    }
  }

  .swiper-wrapper {
    align-items: center;
  }

  @include responsive(991px) {
    .brands-item {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0 20px;
    }
  }

  @include responsive(480px) {
    background-color: #fff;
    margin-bottom: 0;
    padding: 4px 0;

    h2 {
      line-height: 32px;
      margin-bottom: 12px;
    }
  }
}

/*=== showcase ===*/
.showcase {
  &-bg {
    background-color: #fafafa;
  }
  &.container {
    overflow: hidden;
    position: relative;
  }

  &-content {
    margin: 0 27px 0 27px;
  }

  &-info {
    span {
      color: #353535;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 2px;
    }
    h4 {
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 8px;
    }
    p {
      color: #7d7d7d;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 8px;
    }

    .btn-primary {
      color: #ffffff;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      width: 100%;
    }
  }

  h2 {
    color: #353535;
    font-weight: 700;
    font-size: 32px;
    line-height: 49px;
    margin-bottom: 17px;
    text-align: center;
  }

  .swiper-button-prev {
    background-image: url(../img/arrow-prev.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    left: 0;
    &::after {
      display: none;
    }
  }

  .swiper-button-next {
    background-image: url(../img/arrow-next.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    right: 0;
    &::after {
      display: none;
    }
  }

  &-variations {
    align-items: center;
    display: flex;
    margin: 8px 0 8px;

    .variations-item {
      border-radius: 4px;
      cursor: pointer;
      height: 27px;
      width: 27px;
      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    .varOne {
      background: #deac71;
    }
    .varTwo {
      background: #d37164;
    }
    .varThree {
      background: #6497d3;
    }
    .varFour {
      background: #3c3b79;
    }
  }
}

/*=== nova coleção ===*/
.nova-colecao {
  background-color: #fafafa;
  padding: 80px 0;
  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .info {
      height: 255px;
      max-width: 465px;
      width: 100%;
      h2 {
        color: #000000;
        font-weight: 700;
        font-size: 24px;
        line-height: 37px;
        margin-bottom: 16px;
      }
      p {
        color: #000000;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        max-width: 420px;
      }
    }

    .image {
      width: 100%;
      max-width: 100%;
    }

    .bannerColecao-mobile {
      display: none;
    }
  }

  @include responsive(800px) {
    padding: 40px 0;

    .container {
      flex-direction: column;

      .info {
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;

        p {
          max-width: 100%;
        }
      }
    }
  }

  @include responsive(480px) {
    background-color: #fff;
    .container {
      flex-direction: column;

      .info {
        height: initial;
        p {
          margin-bottom: 14px;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #000000;
        }
      }

      .image {
        display: none;
      }

      .bannerColecao-mobile {
        display: block;
        width: 100%;
        max-width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}

/*=== newsletter ===*/
.newsletter {
  background-color: #fafafa;
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
  padding: 4rem 0;

  .container {
    align-items: center;
    display: flex;
    justify-content: center;
    h3 {
      align-items: center;
      color: #000000;
      display: flex;
      font-weight: 700;
      font-size: 24px;
      line-height: 37px;
      margin-right: 56px;
    }

    .search {
      width: 100%;
      max-width: 791px;
      &-form {
        display: flex;
        position: relative;

        .btn-primary {
          position: absolute;
          right: 30px;
        }
      }
      input {
        background: transparent;
        border-radius: 4px 0 0 4px;
        border: 1px solid #353535;
        font-weight: 400;
        font-size: 14px;
        height: 40px;
        line-height: 21px;
        margin-right: 13px;
        margin-left: 15px;
        max-width: 630px;
        padding-left: 24px;
        width: 100%;
        &::placeholder {
          color: #353535;
        }
      }
      button {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-right: 10px;
      }
    }
  }

  @include responsive(1020px) {
    .container {
      .search {
        input {
          max-width: 560px;
        }
      }
    }
  }

  @include responsive(903px) {
    .container {
      .search {
        input {
          max-width: 450px;
        }
      }
    }
  }

  @include responsive(800px) {
    .container {
      flex-direction: column;
      h3 {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  @include responsive(600px) {
    .container {
      .search {
        &-form {
          .btn-primary {
            right: 0;
          }
        }
        input {
          max-width: 40rem;
        }
      }
    }
  }

  @include responsive(480px) {
    .container {
      flex-direction: column;

      h3 {
        margin-right: 0;
        margin-bottom: 0.8rem;
      }

      .search {
        &-form {
          justify-content: center;
          .btn-primary {
            position: initial;
            font-weight: 700;
          }
          input {
            border-radius: 4px;
            max-width: 204px;
            margin-left: 0;
          }
        }
      }
    }
  }
}

/*=== footer ===*/
footer {
  .footer-content {
    background-color: #fafafa;

    .container {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      max-width: 1112px;
      padding-top: 40px;
      padding-bottom: 40px;

      .informacoes {
        h4 {
          color: #353535;
          font-weight: 700;
          font-size: 16px;
          line-height: 18px;
        }

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 2.4rem;
            }

            a {
              color: #000000;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              transition: color 0.3s;
              &:hover {
                color: #faa500;
              }
            }
          }
        }

        .titles {
          margin-bottom: 2.4rem;
          span {
            display: none;
          }
        }
      }

      .minha-conta {
        h4 {
          color: #353535;
          font-weight: 700;
          font-size: 16px;
          line-height: 18px;
        }

        .titles {
          margin-bottom: 24px;
          span {
            display: none;
          }
        }

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 24px;
            }

            a {
              color: #000000;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              transition: color 0.3s;
              &:hover {
                color: #faa500;
              }
            }
          }
        }
      }

      .onde-nos-encontrar {
        h4 {
          color: #353535;
          font-weight: 700;
          font-size: 16px;
          line-height: 18px;
        }

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 24px;
            }

            a {
              color: #000000;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              transition: color 0.3s;
              &:hover {
                color: #faa500;
              }
            }
          }
        }

        .titles {
          margin-bottom: 24px;
          span {
            display: none;
          }
        }
      }
    }
  }

  .copyright {
    background-color: #353535;
    display: flex;
    height: 85px;

    .container {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .redes-sociais,
      .formas-de-pagamentos,
      .development {
        ul {
          align-items: center;
          display: flex;

          li {
            &:not(:last-child) {
              margin-right: 22px;
            }
          }
        }

        img {
          transition: all 0.3s;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }

  @include responsive(800px) {
    .copyright {
      img {
        max-width: 84px;
        max-height: 40px;
      }
    }
  }

  @include responsive(600px) {
    .copyright {
      height: initial;
      padding: 20px 0;
      .container {
        div {
          &:not(:last-child) {
            margin-right: 5px;
          }
        }

        .redes-sociais {
          img {
            width: 20px;
          }
        }

        .formas-de-pagamentos {
          img {
            width: 25px;
          }
        }

        .development {
          img {
            width: 50px;
          }
        }
      }
    }
  }

  @include responsive(480px) {
    .footer-content {
      background-color: #fff;
      .container {
        align-items: flex-start;
        flex-direction: column;
        max-width: 298px;

        div {
          &:not(:last-of-type) {
            margin-bottom: 0;
          }
        }

        .informacoes,
        .minha-conta,
        .onde-nos-encontrar {
          width: 100%;
          max-width: 100%;
          .titles {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.6rem;
            span {
              font-weight: 700;
              display: block;
            }

            ul {
              display: none;
            }
          }
          ul {
            display: none;
          }

          .accordion {
            &.expanded {
              display: block;
              margin-bottom: 2.5rem;
            }
          }
        }
      }
    }

    .copyright {
      .container {
        flex-direction: column;

        > div {
          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }
        }

        .development {
          img {
            width: 85px;
          }
        }
      }
    }
  }
}
